@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.row1 {
    font-family: 'IM_Hyemin-Bold';
    font-size: 12px;
}

.explain {
    font-family: 'IM_Hyemin-Bold';
}

.name_box {
    font-family: 'IM_Hyemin-Bold';
}

.row3_1 {
    font-family: 'IM_Hyemin-Bold';
    font-size: 12px;
}

.row3_2 {
    font-family: 'IM_Hyemin-Bold';
    font-size: 12px;
}

.news_head {
    font-family: 'BMJUA';
    font-size: 15px;
}

.menu {
    font-family: 'KyoboHand';
    font-size: 13px;
}

.diary, .picture, .board, .visit {
    font-family: 'KyoboHand';
    font-size: 13px;
}

.miniroom_box {
    font-family: 'BMJUA';
    font-size: 15px;
}

.column3 a {
    font-family: 'SDSamliphopangche_Outline';
}

.diary_day {
    font-family: 'KyoboHand';
}

.hidden {
    font-family: 'KyoboHand';
}

.visit_name {
    font-family: 'Cafe24Danjunghae';
}

.visit_text {
    font-family: 'KyoboHand';
}